/*********************j'ai fait telement de la merde avec cette exo que je sais meme plus ce qui est utile ou non xD**************************/


body{
    margin: 0;
    padding: 0;
}

/*-------------------header---------------*/
header{
    top: 0;
    position: relative;
    background: rgb(7,244,214);
    background: -moz-linear-gradient(0deg, rgba(7,244,214,1) 26%, rgba(191,244,7,1) 65%);
    background: -webkit-linear-gradient(0deg, rgba(7,244,214,1) 26%, rgba(191,244,7,1) 65%);
    background: linear-gradient(0deg, rgba(7,244,214,1) 26%, rgba(191,244,7,1) 65%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#07f4d6",endColorstr="#bff407",GradientType=1);
    color: whitesmoke ;
    box-shadow:1px 1px 2px gray;
  
} 


nav{
    margin: 0;
    position: absolute;
    top: 15px;
    right: 24px;
    
}
nav a{
    margin: 30px;
    font-size: 20px;
    color: gray;
    text-decoration: none;
    flex-wrap: wrap ;

}

.inlineB{
    display:inline-block;
}

section{
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    height: 100%;  
}

#article1, #article2, #article3{
    border-radius: 30px;
    flex-wrap: wrap ;
    box-shadow: 1px 1px 2px black ;
}

#article1{
    background: rgb(232,104,141);
    background: -moz-linear-gradient(0deg, rgba(232,104,141,1) 28%, rgba(136,195,233,1) 87%);
    background: -webkit-linear-gradient(0deg, rgba(232,104,141,1) 28%, rgba(136,195,233,1) 87%);
    background: linear-gradient(0deg, rgba(232,104,141,1) 28%, rgba(136,195,233,1) 87%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8688d",endColorstr="#88c3e9",GradientType=1);
    color: white;
    display: flex;
    flex-direction: column;
}

#article2{
    background: rgb(88,208,226);
    background: -moz-linear-gradient(0deg, rgba(88,208,226,1) 28%, rgba(112,123,222,1) 87%);
    background: -webkit-linear-gradient(0deg, rgba(88,208,226,1) 28%, rgba(112,123,222,1) 87%);
    background: linear-gradient(0deg, rgba(88,208,226,1) 28%, rgba(112,123,222,1) 87%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#58d0e2",endColorstr="#707bde",GradientType=1);
    color: white;
    display: flex;
    flex-direction: row-reverse;
    
} 

#article3{
    background: rgb(226,187,88);
    background: -moz-linear-gradient(0deg, rgba(226,187,88,1) 28%, rgba(112,123,222,1) 87%);
    background: -webkit-linear-gradient(0deg, rgba(226,187,88,1) 28%, rgba(112,123,222,1) 87%);
    background: linear-gradient(0deg, rgba(226,187,88,1) 28%, rgba(112,123,222,1) 87%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2bb58",endColorstr="#707bde",GradientType=1); 
    color: white;
    
} 


.flex{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
}


.flex p , h2{
    margin-left: 30%;
    margin-top: 0;
    display:flex;
    align-items: center;
}
.flex img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    margin-left: 10%;
}
.japon img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    margin-top: 40px;
    margin-left: 10%;
    
}
.flexthai{
    align-items: center;
    flex-direction: column;
    margin-right: 30%;
    margin-left:15% ;
}
.thai img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    margin-top: 40px;
    margin-left:-10%;
}

footer{
    padding: 50px 0 ;
    margin-top: 1%;
    background: rgb(7,244,214);
    background: -moz-linear-gradient(0deg, rgba(7,244,214,1) 26%, rgba(191,244,7,1) 65%);
    background: -webkit-linear-gradient(0deg, rgba(7,244,214,1) 26%, rgba(191,244,7,1) 65%);
    background: linear-gradient(0deg, rgba(7,244,214,1) 26%, rgba(191,244,7,1) 65%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#07f4d6",endColorstr="#bff407",GradientType=1);
    color: white;
}
#social ul{
    float: right;
    margin-right: 50px;
}

#social li{
    display: inline-block;
    text-align: right;
    margin: 0 5px;
    color: white;
    margin-bottom: 15px;
}
#social i{
    font-size: 2em;

}

    
