body{
    margin: 0;
}

.contenu{
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 10% 30% 30% 30%;
    background: green;
    border: 3px solid black;
    margin:0.5vh;
    float: left;
    transition: margin 0.5s;
}

.contenu2{
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 30% 5% 30% 5%;
    background: cyan;
    border: 3px solid black;
    margin:0.5vh;
    float: left;
    transition: margin 0.5s;
}

.contenu3{
    height: 100px;
    width: 100px;
    margin: right;
    border-radius: 10% 30% 10% 30%;
    background: red;
    border: 3px solid black;
    margin:0.5vh;
    float: left;
    transition: margin 0.5s;
}

.contenu4{
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 10% 30% 10% 30%;
    background:  darksalmon;
    border: 3px solid black;
    margin:0.5vh;
    float: left;
    transition: margin 0.5s;
}

.contenu5{
    height: 100px;
    width: 100px;
    margin: right;
    border-radius: 50%;
    background:aquamarine;
    border: 3px solid black;
    margin:0.5vh;
    float: left;
    transition: margin 0.5s;
}

.contenu6{
    height: 100px;
    width: 100px;
    margin: right;
    border-radius: 20%;
    background:white;
    margin:0.5vh;
    float: left;
    transition: margin 0.5s; 
}




.contenu:hover, .contenu2:hover, .contenu3:hover, .contenu4:hover, .contenu5:hover, .contenu6:hover{
    margin-top: 10vh;
}

.clear{
    clear:both;
}